In [2]:
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
import folium
matplotlib.style.use('ggplot')

/Users/XueqiWang/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

## Data cleaning 1st round - Accident data
* Select all the accident data from Motorway, A(M) and A roads. 
* Remove 2nd_Road_Class, 2nd_Road_Number columns.
* Save as another CSV document in 'data1' folder.

In [3]:
years = ['2009', '2010', '2011', '2012', '2013', '2014']
for year in years:
    df = pd.read_csv('data/DfTRoadSafety_Accidents_' + year + '.csv',low_memory=False)
    df = df[df['1st_Road_Class'] <= 3]
    del df['2nd_Road_Class']
    del df['2nd_Road_Number']
    df.to_csv('data1/Accidents_' + year + '.csv')

## Data cleaning 1st round - Casualty data
* Select all the casualty data from Motorway, A(M) and A roads.
* Save as new CSV document in 'data1' folder.

In [ ]:
years = ['2009', '2010', '2011', '2012', '2013', '2014']
for year in years:
    df1 = pd.read_csv('data1/Accidents_' + year + '.csv',low_memory=False, encoding="utf-8-sig")
    
    df2 = pd.read_csv('data/DfTRoadSafety_Casualties_' + year + '.csv',low_memory=False, encoding="utf-8-sig")
    if year == '2014':
        df2 = df2.loc[df2[u'Accident_Index'].isin
                      (df1[u'Accident_Index'])]
    else:
        df2 = df2.loc[df2['Acc_Index'].isin(df1['Accident_Index'])]
    df2.to_csv('data1/Casualties_' + year + '.csv')

Columns:

In [12]:
years = ['2009', '2010', '2011', '2012', '2013', '2014']
for year in years:
    df = pd.read_csv('data/DfTRoadSafety_Casualties_' + year + '.csv',low_memory=False)
    print df.columns

Index([u'Acc_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_Band_of_Casualty',
       u'Casualty_Severity', u'Pedestrian_Location', u'Pedestrian_Movement',
       u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')
Index([u'Acc_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_Band_of_Casualty',
       u'Casualty_Severity', u'Pedestrian_Location', u'Pedestrian_Movement',
       u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')
Index([u'Acc_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_Band_of_Casualty',
       u'Casualty_Severity', u'Pedestrian_Location', u'Pedestrian_Movement',
       u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')
Index([u'Acc_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_Band_of_Casualty',
       u'Casualty_Severity', u'Pedestrian_Location', u'Pedestrian_Movement',
       u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')
Index([u'Acc_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_Band_of_Casualty',
       u'Casualty_Severity', u'Pedestrian_Location', u'Pedestrian_Movement',
       u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')
Index([u'ï»¿Accident_Index', u'Vehicle_Reference', u'Casualty_Reference',
       u'Casualty_Class', u'Sex_of_Casualty', u'Age_of_Casualty',
       u'Age_Band_of_Casualty', u'Casualty_Severity', u'Pedestrian_Location',
       u'Pedestrian_Movement', u'Car_Passenger', u'Bus_or_Coach_Passenger',
       u'Pedestrian_Road_Maintenance_Worker', u'Casualty_Type',
       u'Casualty_Home_Area_Type'],
      dtype='object')

#### Note: column names in casualties dataset in 2014 are different from others.

### data Cleaning 1st round - Casualty data version 2
* Select all the casualty data from Motorway and A(M) roads.
* Save as Casualties_M_year

In [3]:
years = ['2009', '2010', '2011', '2012', '2013', '2014']
for year in years:
    df1 = pd.read_csv('data1/Accidents_' + year + '.csv',low_memory=False, encoding="utf-8-sig")
    df1 = df1[df1['1st_Road_Class'] < 3]
    df2 = pd.read_csv('data/DfTRoadSafety_Casualties_' + year + '.csv',low_memory=False, encoding="utf-8-sig")
    if year == '2014':
        df2 = df2.loc[df2[u'Accident_Index'].isin
                      (df1[u'Accident_Index'])]
    else:
        df2 = df2.loc[df2['Acc_Index'].isin(df1['Accident_Index'])]
    df2.to_csv('data1/Casualties_M_' + year + '.csv')

## Data Cleaning 2nd Round
* Select all the accident data from Motorway, A(M) roads.
* Save as another CSV document in 'data2' folder.

In [3]:
years = ['2009', '2010', '2011', '2012', '2013', '2014']
for year in years:
    df = pd.read_csv('data/DfTRoadSafety_Accidents_' + year + '.csv',low_memory=False)
    df = df[df['1st_Road_Class'] <= 2]
    df.to_csv('data2/Accidents_' + year + '.csv')

## Data Cleaning 3rd Round
* Add casualty information (extract from casualty dataset) to accident dataset.

In [44]:
df = pd.read_csv('data1/Casualties_M_2014.csv',low_memory=False)
df = df[df['Casualty_Severity']<3]  # fatal and serious casualties
n_kis = df['Accident_Index'].value_counts()
df2 = pd.DataFrame({'Accident_Index': n_kis.index, 'Number_of_KIS': n_kis.values})
df1 = pd.read_csv('data2/Accidents_2014.csv', low_memory=False, encoding="utf-8-sig")
df3 = pd.merge(df1, df2, on = u'Accident_Index', how = 'outer')
df3['Number_of_KIS'] = df3['Number_of_KIS'].fillna(0)
df3.to_csv('data2/Accidents_kis_2014.csv')

In [36]:
len(df1)

5630

In [37]:
len(df3)

5630

,Unnamed: 0,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Number_of_KIS
0,6998,201401ID60003,507480,176870,-0.453620,51.480531,1,3,2,1,...,0,4,4,2,0,0,1,1,E01002444,0.0
1,7014,201401ID60029,507400,178490,-0.454280,51.495108,1,3,2,2,...,0,1,1,1,0,0,1,1,E01002446,0.0
2,7016,201401ID60031,507540,177050,-0.452702,51.482138,1,3,3,2,...,0,1,1,2,0,0,1,1,E01002447,0.0
3,7975,201401JI40222,541390,190320,0.039813,51.593939,1,3,2,1,...,0,1,1,1,0,0,2,1,E01003763,0.0
4,8293,201401JI40600,541370,190420,0.039565,51.594842,1,3,2,2,...,0,1,1,1,0,0,2,1,E01003763,0.0
5,8491,201401JI40825,541790,191000,0.045859,51.599949,1,3,1,1,...,0,4,1,2,0,0,2,1,E01003659,0.0
6,8727,201401KD50212,558450,188310,0.285000,51.571344,1,3,2,1,...,0,1,1,1,0,0,2,1,E01002252,0.0
7,8731,201401KD50216,558150,189160,0.281057,51.579065,1,3,2,1,...,0,1,1,1,0,0,2,2,E01002259,0.0
8,8738,201401KD50223,558620,187990,0.287306,51.568421,1,3,2,1,...,0,1,1,1,0,0,2,1,E01002252,0.0
9,8813,201401KD50305,556430,192840,0.257894,51.612607,1,3,2,1,...,0,1,1,1,0,0,2,1,E01002277,0.0
10,8892,201401KD50399,558300,188730,0.283026,51.575159,1,3,4,2,...,0,1,1,1,0,0,2,1,E01002259,0.0
11,8982,201401KD50499,556410,192820,0.257596,51.612433,1,3,3,1,...,0,4,1,1,0,0,2,1,E01002277,0.0
12,9011,201401KD50534,558670,187860,0.287969,51.567239,1,3,2,1,...,0,1,2,2,0,0,2,1,E01002252,0.0
13,9033,201401KD50560,558040,189340,0.279552,51.580713,1,3,2,1,...,0,1,1,1,0,0,2,1,E01002259,0.0
14,9066,201401KD50595,558830,186870,0.289828,51.558300,1,3,1,2,...,0,1,1,1,0,0,2,1,E01002391,0.0
15,9099,201401KD50630,556880,192370,0.264178,51.608260,1,3,2,2,...,0,1,1,1,0,0,2,2,E01002296,0.0
16,16895,201401SX20049,522780,187510,-0.229690,51.573045,1,3,2,1,...,0,1,1,1,0,0,1,1,E01000307,0.0
17,17014,201401SX20203,520250,194050,-0.263939,51.632367,1,3,2,1,...,0,4,2,2,0,0,1,1,E01000195,0.0
18,17107,201401SX20312,517350,194420,-0.305697,51.636305,1,3,2,3,...,0,1,1,1,0,0,2,1,E01002114,0.0
19,17109,201401SX20314,522200,190670,-0.236956,51.601571,1,3,1,1,...,0,1,1,1,0,0,1,1,E01000260,0.0
20,17185,201401SX20410,517290,194450,-0.306553,51.636587,1,2,2,1,...,0,1,1,1,0,0,2,1,E01002114,1.0
21,17197,201401SX20428,517350,194400,-0.305703,51.636125,1,3,2,1,...,0,1,1,1,0,0,2,2,E01002114,0.0
22,17229,201401SX20466,517590,194340,-0.302257,51.635536,1,3,1,1,...,0,1,1,1,0,0,2,1,E01000188,0.0
23,17322,201401SX20579,522670,187550,-0.231262,51.573429,1,3,3,1,...,0,1,2,2,0,0,1,1,E01000307,0.0
24,17386,201401SX20663,521920,191010,-0.240878,51.604687,1,3,4,4,...,0,1,1,1,0,0,1,1,E01000260,0.0
25,17416,201401SX20702,520130,194310,-0.265583,51.634730,1,3,1,1,...,0,1,2,2,0,0,2,1,E01000195,0.0
26,17458,201401SX20756,517740,194120,-0.300165,51.633527,1,3,1,1,...,0,1,1,1,0,0,2,1,E01000188,0.0
27,17472,201401SX20775,522020,190910,-0.239470,51.603767,1,3,9,3,...,0,1,1,1,0,0,1,1,E01000260,0.0
28,17474,201401SX20777,521380,191870,-0.248375,51.612533,1,3,2,1,...,0,4,1,2,0,0,1,1,E01000258,0.0
29,17489,201401SX20795,522020,190920,-0.239466,51.603857,1,3,2,1,...,0,1,1,1,0,0,1,1,E01000260,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5600,145383,201497QC71107,289651,626760,-3.749451,55.522109,97,3,1,1,...,0,1,1,1,0,0,2,1,NaN,0.0
5601,145385,201497QC71302,285915,632433,-3.810937,55.572200,97,3,1,1,...,0,6,5,2,0,0,2,1,NaN,0.0
5602,145386,201497QC71402,282503,639311,-3.867954,55.633158,97,3,2,1,...,0,6,5,2,0,2,2,1,NaN,0.0
5603,145387,201497QC72712,285248,633504,-3.821956,55.581662,97,3,1,1,...,0,6,1,2,0,0,2,1,NaN,0.0
5604,145439,201497QD01705,261741,661900,-4.208926,55.830514,97,3,1,1,...,0,4,1,1,0,0,1,1,NaN,0.0
5605,145648,201497UC00101,246329,644119,-4.444738,55.666232,97,2,1,1,...,0,1,5,2,0,0,2,1,NaN,1.0
5606,145678,201497UC01503,245896,642830,-4.450891,55.654523,97,3,1,1,...,0,1,4,2,0,0,2,1,NaN,0.0
5607,145726,201497UC02910,248056,645790,-4.418234,55.681776,97,3,2,1,...,0,4,5,2,0,0,2,2,NaN,0.0
5608,145769,201497UC04308,246184,643599,-4.446749,55.661518,97,3,2,1,...,0,1,1,1,0,0,2,1,NaN,0.0
5609,146214,2014984100214,307849,603116,-3.453493,55.313496,98,3,1,1,...,0,1,2,2,0,0,2,1,NaN,0.0
5610,146216,2014984101114,305005,606727,-3.499511,55.345392,98,2,4,1,...,0,6,1,4,0,0,2,1,NaN,1.0
5611,146220,2014984103414,310346,594331,-3.411361,55.235040,98,2,1,1,...,0,6,5,2,0,0,2,1,NaN,1.0
5612,146222,2014984104914,310226,592590,-3.412693,55.219379,98,3,1,1,...,0,1,3,3,0,0,2,1,NaN,0.0
5613,146228,2014984106914,303747,611253,-3.520899,55.385802,98,3,2,2,...,0,1,5,5,0,3,2,1,NaN,0.0
5614,146235,2014984109314,304035,608924,-3.515555,55.364938,98,3,2,2,...,0,1,5,2,0,0,2,1,NaN,0.0
5615,146238,2014984110214,312101,584564,-3.380734,55.147615,98,3,1,1,...,0,1,5,2,0,0,2,1,NaN,0.0
5616,146269,2014984120514,306200,605499,-3.480263,55.334591,98,2,3,3,...,0,1,1,1,0,0,2,1,NaN,3.0
5617,146270,2014984120714,327524,570957,-3.135326,55.027864,98,3,2,1,...,0,1,1,1,0,0,2,1,NaN,0.0
5618,146271,2014984121014,310452,589344,-3.408112,55.190260,98,2,2,1,...,0,1,1,1,0,0,2,1,NaN,1.0
5619,146279,2014984124214,316431,576690,-3.310496,55.077627,98,2,2,2,...,0,1,1,1,0,0,2,1,NaN,2.0
5620,146286,2014984126714,310478,594878,-3.409460,55.239978,98,3,2,1,...,0,1,1,1,0,0,2,1,NaN,0.0
5621,146291,2014984128314,314050,579638,-3.348670,55.103704,98,3,1,2,...,0,1,1,1,0,0,2,1,NaN,0.0
5622,146300,2014984130714,306666,604698,-3.472652,55.327484,98,3,1,1,...,0,1,1,2,0,0,2,1,NaN,0.0
5623,146302,2014984131214,306950,604084,-3.467974,55.322022,98,3,1,1,...,0,1,5,2,0,3,2,1,NaN,0.0
5624,146304,2014984131714,313707,580203,-3.354216,55.108720,98,3,6,1,...,0,1,1,1,4,0,2,1,NaN,0.0
5625,146306,2014984132714,310347,594369,-3.411357,55.235382,98,3,1,1,...,0,1,5,2,0,0,2,1,NaN,0.0
5626,146312,2014984134614,312649,583604,-3.371842,55.139088,98,3,2,1,...,0,6,1,2,0,0,2,1,NaN,0.0
5627,146316,2014984136214,307298,603520,-3.462305,55.317022,98,3,2,1,...,0,1,1,3,0,0,2,1,NaN,0.0
5628,146317,2014984136414,310037,597647,-3.417278,55.264773,98,2,2,1,...,0,6,3,3,0,0,2,1,NaN,1.0
5629,146318,2014984137514,321509,574063,-3.230255,55.054855,98,3,2,2,...,0,6,1,3,0,0,2,1,NaN,0.0